@model ConversationsModel

@{
    ViewData["Title"] = "Диалоги";
}

<head>
    <link rel="stylesheet" href="/css/ConversationListStyle.css">
</head>

<div class="conversation_list">

    <div class="conversation_listt">
        <span>Диалоги</span>
    </div>

    <div class="conversation_list_content">

        @foreach(var conv in Model.Conversations)
        {
            <div class="wrap_chat">
                <div class="container_wrap_chat">
                    <div class="wrap_info_chat">

                        <div class="profile_image">
                            <img src="" alt="">
                        </div>

                        <div class="message_info_chat">
                            @if (Model.personConversation.ContainsKey(conv.IdUser))
                            {
                                <span>@Model.personConversation[conv.IdUser]</span>
                            }
                            else
                            {
                                <span>@Model.personConversation[conv.IdUser1]</span>
                            }

                            <div class="wrap_last_msg">
                                <div class="wrap_notify_msg">
                                    1
                                </div>
                                <a asp-controller="Account" asp-action="GetConversation" asp-route-idConv="@conv.IdConversation">
                                    @Model.lastMsg
                                </a>
                            </div>
                        </div>
                    </div>

                    <a href="" class="delete_chat_btn"></a>
                </div>
            </div>
        }

     

    </div>

</div>
